<!doctype html>
<html>
<head>
<title>TAC How To</title>
<meta name="description" content="HowTo">
<meta name="keywords" content="HowTo">
</head>
<body>

<b>The Basics</b>

<b>The basic communication format is OFNR</b>
   Observation – objective descriptions of the situation
   Feeling – identify the feeling of the individual
   Need – identify the need of the individual
   Request – a clear actionable request

It also requires a calm mindset, so that you can stick to just these 4 elements

<b>What to Say</b>
In the game, when you hear an emotional statement, you will be required to provide the correct feeling or need word.   You may press the ‘Easy Mode’ button to toggle a list of common responses to support you. Also, you can use the ‘clue’ button to get a specific clue for the answer.

<b>Why it works</b>
NVC works because showing a person that you understand their feelings and needs resonates on an instinctive level with them. It says to them, you are one of the herd, and can be trusted.  This works for emotionally disturbed people because everyone wants their feelings/needs known, which is why they manifest on the outside

Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Platea dictumst quisque sagittis purus sit amet. Ac tortor vitae purus faucibus ornare. A pellentesque sit amet porttitor eget dolor morbi non arcu. At ultrices mi tempus imperdiet nulla malesuada pellentesque elit eget. Massa tempor nec feugiat nisl pretium fusce id. Tortor at auctor urna nunc. Ac turpis egestas integer eget aliquet. Vestibulum lorem sed risus ultricies tristique. Nibh sed pulvinar proin gravida. Vitae tortor condimentum lacinia quis vel eros donec. Pellentesque eu tincidunt tortor aliquam nulla facilisi cras. Diam maecenas sed enim ut. Cursus in hac habitasse platea dictumst quisque sagittis purus. Pulvinar mattis nunc sed blandit libero volutpat sed cras.

<b>See More Info for more info.</b>

</body>
</html>