/* CHANGED FROM   body {font-family: Arial, sans-serif;}*/
body, html {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
  }


h1 {
    color: white;
    margin-bottom: 0;
    margin-top: 0;
    text-align: center;
    font-size: 40px;
}

h2 {
    color: white;
    font-size: 20px;
    margin-top: 3px;
    text-align: center;
}


h3 {
    color: white;
    font-size: 20px;
    margin-top: 3px;
    text-align: center;
}

#chatbox {
    max-width: 600px;
    width: 100%; /* Make it responsive */
    max-height: calc(100vh - 50px); /* Adjust 70px to the combined height of the header and #userInputContainer */    
    margin: 0 auto;
    text-align: center;
    flex-grow: 1;
    overflow-y: scroll;
    border-left: 1px solid #1d94f6; /* Thin blue line on the left */
    border-right: 1px solid #1d94f6; /* Thin blue line on the right */
    padding-bottom: 50px; /* Increased to 70px to provide more space for #userInputContainer */
    z-index: 1; /* Lower z-index than #userInputContainer */

}

#chatboxContainer {
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

#chatboxleft {
    max-width: 600px;
    width: 100%; /* Make it responsive */
    margin: 0 auto;
    margin-top: 30px;
    text-align: left;
}

#easymodebox {
    max-width: 600px;
    width: 100%; /* Make it responsive */
    margin: 0 auto;
    margin-top: 2px;
}

#logoposition {
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
    width: 100%; /* Make it responsive */
    margin: 0 auto;
}


#StartTrainingInput{
    margin-left: auto;
    margin-right: auto;
    box-align: center;
    text-align: center;
    margin-top: 15px;
    max-width: 600px;
    width: 100%; /* Make it responsive */
    margin: 0 auto;
    padding: 2px 2px 2px 2px;
}

#userInputContainer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0; /* Add this */
    background-color: rgb(247, 247, 250); /* Match the body's background color */
    padding: 10px 0;
    box-sizing: border-box; 
    z-index: 2; /* Higher z-index to ensure it's above #chatbox */
}

#userInput {
    max-width: 600px;
    width: 100%; /* Make it responsive */
    margin: 0 auto;
    text-align: right;
    padding: 2px 2px 2px 2px;
}


#textInput {
    max-width: 90%;
    box-align: right;
    text-align: left;
    border: none;
    border-bottom: 3px solid #a6f5d4;
    font-family: monospace;
    font-size: 14px;
    padding: 2px 2px 2px 2px;
}

#buttonInput {
    font-family: monospace;
    font-size: 14px;
}

.botText {
    color: black;
    font-family: Arial, sans-serif;
    font-size: 12px;
    text-align: justify;
    line-height: 14px;
    padding: 2px;
}

.botText span{
    display: inline-block; /* or 'block' if you want it to be on its own line */
    width: 85%; /* set the width to 80% of its parent container */
    background-color: hsl(0, 0%, 86%);
    padding: 2px;
    border-radius: 1px;
    margin-right: 0 auto; /* centers the span if it's a block element */
}


.EasyModeText {
    color: black;
    font-family: Arial, sans-serif;
    font-size: 14px;
    text-align: left;
    line-height: 16px;
    background-color: #d6ce35;
    max-width: 600px;
    padding: 3px;
}

.EasyModeText span {
    padding: 5px;
    border-radius: 1px;
}

.moreInfoText {
    color: rgb(3, 15, 103);
    font-family: Arial, sans-serif;
    font-size: 16px;
    text-align: center;
    line-height: 25px;

}

.smallInfoText {
    color: rgb(2, 12, 90);
    font-family: Arial, sans-serif;
    font-size: 10px;
    text-align: left;
    line-height: 15px;
}

.smallInfoTextLogin {
    color: rgb(2, 12, 90);
    font-family: Arial, sans-serif;
    font-size: 10px;
    text-align: center;
    line-height: 15px;
    padding-left: 10px; /* Add padding on the left */
    padding-right: 10px; /* Add padding on the right */
}


.smallInfoButtonText {
    color: rgb(0, 0, 0);
    font-family: Arial, sans-serif;
    font-size: 12px;
    text-align: left;
    line-height: 15px;
    border: 1px solid #0c6db8; /* Border color */
    border-radius: 5px; /* Rounded corners */
    box-shadow: 0 4px #0c6db8; /* Shadow effect for depth */
    
}

.introText {
    color: rgb(2, 12, 90);
    font-family: Arial, sans-serif;
    font-size: 24px;
    text-align: left;
    line-height: 25px;
    /* Remove position: absolute and other positioning styles */
    position: sticky;
    top: 0;
    background-color: inherit; /* Or set a specific color */
    z-index: 10; /* Ensure it's above other content */
 }

.userText {
    color: black;
    font-family: Arial, sans-serif;
    font-size: 12px;
    text-align: right ;
    line-height: 15px;
    padding: 2px;
}


.userText span {
    display: inline-block; /* Maintains inline flow but allows for width setting */
    width: 85%; /* Sets the width to 80% of its parent container */
    background-color: rgb(198, 202, 249);
    padding: 2px;
    border-radius: 1px;
    margin-left: auto; /* Pushes the element to the right */
    margin-right: 0; /* Keeps the element at the right edge */
    text-align: justify; 
}

#tidbit {
    position:absolute;
    bottom:0;
    right:0;
    max-width: 600px;
}

.beveled-button {
    color: #fff; /* Text color */
    font-family: Arial, sans-serif;
    font-size: 12px;
    line-height: 40px;
    text-align: center;
    height: 40px; /* Example height */
    text-decoration: none; /* Remove underline from links */

    background-color: #1d94f6; /* Button color */
    border: 1px solid #0c6db8; /* Border color */
    border-radius: 5px; /* Rounded corners */

    box-shadow: 0 2px #0c6db8; /* Shadow effect for depth */
    

    transition: all 0.3s; /* Smooth transition for button press effect */
}

.beveled-button:active {
    box-shadow: 0 1px #0c6db8; /* Adjust shadow for pressed effect */
    transform: translateY(3px); /* Move button down when pressed */
}

.centered-container {
    display: flex;
    justify-content: center;
    align-items: center;
    /*height: 100vh; /* This makes the container take the full height of the viewport */
    }

#workingIcon {
    display: none;
    position: fixed; /* Or absolute, depending on your layout */
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Adjust to center the div precisely */
    z-index: 1000; /* High z-index to float above other elements */
    /* Add more styling as needed (e.g., background color, padding, etc.) */
}    