body {
    font-family: Arial, sans-serif;
}

/* unvisited link */
a:link {
    color: rgb(243, 221, 53);
  }
  
  /* visited link */
  a:visited {
    color: white;
  }
  
  /* mouse over link */
  a:hover {
    color: hotpink;
  }
  
  /* selected link */
  a:active {
    color: white;
  }


h1 {
    color: white;
    margin-bottom: 0;
    margin-top: 0;
    text-align: center;
    font-size: 40px;
}

h2 {
    color: white;
    font-size: 20px;
    margin-top: 3px;
    text-align: center;
}


h3 {
    color: white;
    font-size: 20px;
    margin-top: 3px;
    text-align: center;
}

#chatbox {
    max-width: 750px;
    margin-top: 30px;
    text-align: center;
}

#chatboxleft {
    max-width: 750px;
    margin-top: 30px;
    text-align: left;
}

#easymodebox {
    max-width: 750px;
    margin-top: 2px;
}

#logoposition {
    margin-left: auto;
    margin-right: auto;
}


#userInput {
    margin-left: auto;
    margin-right: auto;
    box-align: center;
    text-align: left;
    max-width: 100%;
    margin-top: 15px;
}

#textInput {
    max-width: 90%;
    box-align: left;
    text-align: left;
    border: none;
    border-bottom: 3px solid #a6f5d4;
    font-family: monospace;
    font-size: 14px;
}

#buttonInput {
    padding: 3px;
    font-family: monospace;
    font-size: 16px;
}

.userText {
    color: black;
    font-family: Arial, sans-serif;
    font-size: 12px;
    text-align: left;
    line-height: 14px;
    padding: 3px;
}

.userText span {
    background-color: hsl(0, 0%, 86%);
    padding: 3px;
    border-radius: 1px;
}

.EasyModeText {
    color: black;
    font-family: Arial, sans-serif;
    font-size: 14px;
    text-align: left;
    line-height: 16px;
    background-color: #d6ce35;
    max-width: 750px;
    padding: 3px;
}

.EasyModeText span {
    padding: 5px;
    border-radius: 1px;
}

.moreInfoText {
    color: rgb(3, 15, 103);
    font-family: Arial, sans-serif;
    font-size: 16px;
    text-align: center;
    line-height: 25px;

}

.smallInfoText {
    color: rgb(2, 12, 90);
    font-family: Arial, sans-serif;
    font-size: 12px;
    text-align: center;
    line-height: 15px;
}

.smallInfoButtonText {
    color: rgb(0, 0, 0);
    font-family: Arial, sans-serif;
    font-size: 12px;
    text-align: left;
    line-height: 15px;
    border: 1px solid #0c6db8; /* Border color */
    border-radius: 5px; /* Rounded corners */
    box-shadow: 0 4px #0c6db8; /* Shadow effect for depth */
    
}

.introText {
    color: rgb(2, 12, 90);
    font-family: Arial, sans-serif;
    font-size: 18px;
    text-align: left;
    line-height: 25px;
    position: absolute;
    left: 5px;
    top: 5px;
    overflow: visible;
}

.botText {
    color: black;
    font-family: Arial, sans-serif;
    font-size: 12px;
    text-align: right;
    line-height: 14px;
    padding: 3px;
}

.botText span {
    background-color: rgb(198, 202, 249);;
    padding: 2px;
    border-radius: 1px;
}

#tidbit {
    position:absolute;
    bottom:0;
    right:0;
    max-width: 600px;
}

.beveled-button {
    color: #fff; /* Text color */
    font-family: Arial, sans-serif;
    font-size: 12px;
    line-height: 15px;
    text-align: left;

    padding: 10px 20px; /* Button padding */
    margin: 5px; /* Space between buttons */
    text-decoration: none; /* Remove underline from links */

    background-color: #1d94f6; /* Button color */
    border: 1px solid #0c6db8; /* Border color */
    border-radius: 5px; /* Rounded corners */

    box-shadow: 0 4px #0c6db8; /* Shadow effect for depth */
    

    transition: all 0.3s; /* Smooth transition for button press effect */
}

.beveled-button:active {
    box-shadow: 0 1px #0c6db8; /* Adjust shadow for pressed effect */
    transform: translateY(3px); /* Move button down when pressed */
}