

<!DOCTYPE html>
<html lang="en">
<head>
  <title>Game Index</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/static/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script>
	$(document).ready(function(){
		$('#purpose').on('change', function() {
		if ( this.value == '1')
		{
			$("#business").show();
		}
		else
		{
			$("#business").hide();
		}
		});
	});
	</script>
  <style>
	a:link, a:visited {
	  background-color: #1d94f6;
	  color: black;
	  padding: 1px 5px;
	  text-align: center;
	  text-decoration: none;
	  display: inline-block;
	}
	
	a:hover, a:active {
	  background-color: rgb(106, 122, 189);
	}
	</style>
  </head>
<body  style="background-color:rgb(247, 247, 250)">
  <!-- <div><img src="/static/images/jackals.jpg" alt="jaquelbot image" style="width:40px;height:25px;">   -->
    <div>
      <div id="chatbox">
        <div  class="introText">
          <img src="/static/images/mascotAnthony_headshot.png" alt="TrainerAnthony image" style="width:40px;"> 
          <b>Tactical Advance Communication Trainer</b>
        </div>
        

      <div id="chatboxleft">
        <br>
        <a href="/static/tachowto.html" class="beveled-button">How To Play</a>
        <a href="/static/moreinfo.html" class="beveled-button"> More Info </a>
          <select id='purpose' class="smallInfoButtonText"style="background: #1d94f6;">
            <option value="0" style="background-color: #1d94f6;">Easy Mode OFF</option>
            <option value="1" style="background-color: #1d94f6;">Easy Mode ON</option>
          </select>
        </span></p>
      </div>




			<p class="smallInfoText"style="text-align:left"><b> &nbsp;When you are ready, type "start" </b></p>
      </div>

      <div  class="easymodebox">
          <div class="EasyModeText"style='display:none;' id='business'>
            Easy Mode Suggestions: Security, Empathy, Support, Stability, Safety, Consideration, Respect, Understanding, Compassion, Freedom, Movement, Choice, Order, Shelter, Care, Peace. <br><b> Only guess one need at a time.</b><br>
          </div>
      </div>

      <div id="userInput">
        &nbsp; <input id="textInput" type="text" size="40" name="msg" placeholder="You: type here">
        <input id="buttonInput" type="submit" value="Send">
      </div>
      <script>
        function getBotResponse() {
          var rawText = $("#textInput").val();
          var userHtml = '<p class="userText"><span>' + rawText + '</span></p>';
          $("#textInput").val("");
          $("#chatbox").append(userHtml);
          document.getElementById('userInput').scrollIntoView({block: 'start', behavior: 'smooth'});
          $.get("/get", { msg: rawText }).done(function(data) {
            var botHtml = '<p class="botText"><span>' + data + '</span></p>';
            $("#chatbox").append(botHtml);
            document.getElementById('userInput').scrollIntoView({block: 'start', behavior: 'smooth'});
          });
        }
        $("#textInput").keypress(function(e) {
            if ((e.which == 13) && document.getElementById("textInput").value != "" ){
                getBotResponse();
            }
        });
        $("#buttonInput").click(function() {
            if (document.getElementById("textInput").value != "") {
                getBotResponse();
            }
        })
      </script>
    </div>
  </body>
</html>
