

<!DOCTYPE html>
<html lang="en">
<head>
  <title>Game Index</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/static/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script>
	$(document).ready(function(){
		$('#purpose').on('change', function() {
		if ( this.value == '1')
		{
			$("#business").show();
		}
		else
		{
			$("#business").hide();
		}
		});
	});
	</script>
  <style>
	a:link, a:visited {
	  background-color: #1d94f6;
	  color: black;
	  padding: 1px 5px;
	  text-align: center;
	  text-decoration: none;
	  display: inline-block;
	}
	
	a:hover, a:active {
	  background-color: rgb(106, 122, 189);
	}
	</style>
  </head>
<body  style="background-color:rgb(247, 247, 250)">
    <div>
        <div id="chatbox">
          <div id="chatboxContainer">
            <div class="introText" style="display: flex; align-items: center;">
              <div>
                  <img src="static/images/mascotAnthony_headshot.png" alt="TrainerAnthony image" style="width:50px;"> 
                  <b>TAC Trainer  &nbsp; &nbsp;</b>
              </div>
              <div>
                  <form action="{{ url_for('logout') }}" method="post">
                      <input type="submit" value="Logout" class="beveled-button">
                  </form>
              </div>
            </div>
            <div>
              <p class="smallInfoText">
                &nbsp; &nbsp; It takes me MANY seconds to type. Be patient for my response.
              </p>
            </div>
          </div>
        </div>



        <div id="userInputContainer">
          <div class="centered-container">
            <div id="workingIcon" style="display: none;">  
                <img src="static/images/workingonit.png" alt="Working..." />
            </div>
          </div>
          
          <div id="userInput">
            &nbsp; <input id="textInput" type="text" size="40" name="msg" placeholder="You: type here">
            <input id="buttonInput" type="submit" value="Send">
          </div>
        </div>


        <script>
          function getBotResponse() {
              var rawText = $("#textInput").val();
              var userHtml = '<p class="userText"><span>' + rawText + '</span><img src="static/images/user_image_icon.png" alt="User" style="width:25px;height:25px; margin-left: 10px;"></p>';
              $("#textInput").val("");
              $("#chatbox").append(userHtml);
      
              // Show the working icon
              $("#workingIcon").show();
      
              $.get("/get", { msg: rawText }).done(function(data) {
                  var botHtml = '<p class="botText"><img src="static/images/mascotAnthony_headshot.png" alt="Chatbot" style="width:30px;height:30px; margin-right: 10px;"><span>' + data + '</span></p>';
                  $("#chatbox").append(botHtml);
      
                  // Hide the working icon once the response is received
                  $("#workingIcon").hide();
              });
          }
      
          function setupMutationObserver() {
              var chatBox = document.getElementById('chatbox');
              var observer = new MutationObserver(function(mutations) {
                  mutations.forEach(function(mutation) {
                      if (mutation.addedNodes.length > 0) {
                          chatBox.scrollTop = chatBox.scrollHeight;
                      }
                  });
              });
      
              var config = { childList: true };
              observer.observe(chatBox, config);
          }
      
          $(document).ready(function() {
              setupMutationObserver();
          });
      
          $("#textInput").keypress(function(e) {
              if (e.which == 13 && $("#textInput").val() != "") {
                  getBotResponse();
              }
          });
      
          $("#buttonInput").click(function() {
              if ($("#textInput").val() != "") {
                  getBotResponse();
              }
          });
      </script>
    </div>
  </body>
</html>
