

<!DOCTYPE html>
<html lang="en">
<head>
  <title>Game Index</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/static/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
  <body style="background-color:rgba(63,84,125,1);">
    <!--   <div><img src="/static/images/jackals.jpg" alt="jaquelbot image" style="width:40px;height:25px;">
           <div>  &nbsp;&nbsp;&nbsp;<b>The Needs Game</b> -->
    <div>
      <div id="chatbox">
        <!-- <p class="botText"style="text-align:center"><span>The Needs Game is a tool to help you practice the skill of identifying a person's needs. </a><br><br><b> Type your name and press enter. </b></span></p>  -->
        <p class="introText" ><b>&nbsp;TAC Practice</b>&nbsp;</p>
        <p class="moreInfoText" ><span><br><b> TAC Practice develops the skill of identifying a distressed person's needs or feelings. </b> <b></p>
        <p class="moreInfoText" ><span><br><b> Type your name and press enter. </b> <b><br><br></p>
      
      </div>

      <div id="userInput">
		    <form action="#" method="post">
			    <p style="color:darkorange;"> &nbsp; &nbsp;  &nbsp; &nbsp; Your Name: <input type="text" name="nm" size='25'/></p>
			    <p></p> &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp;  &nbsp;  &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp;  &nbsp;  &nbsp;<input type="submit" value="enter"/></p>
	    	</form>
      </div>

      <div>
        <div id="chatbox">
          <p class="moreInfoText"> <br><br> <a href="/static/moreinfo.html"><span>More Info</span> </a><br><br></p></p>
        </div>
      </div>

    </div>
  </body>
</html>