

<!DOCTYPE html>
<html lang="en">
<head>
  <title>Game Index</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/static/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
  <body style="background-color:rgb(243, 243, 245);">      
    <div>
      <div id="logoposition" >
        
      </div> 
      <div id="chatbox">
        <img src="/static/images/mascotAnthony_narrow.png" alt="TrainerAnthony image" style="width:200px;">
        <p class="moreInfoText" ><span><b> Tactical Advance Communication Trainer  </b></p>
        <p class="smallInfoTextLogin" ><span><b> Anthony the Giraffe, your TAC Trainer,  will teach you skills for communicating with emotionally disturbed people based on principles of nonviolent communication. </b></p>  
    
          <div id="StartTrainingInput">
            <form action="#" method="post">
               <input type="submit" value="Start Traning"/></p>
            </form>
          </div>
        </div>



    </div>
  </body>
</html>